img {
    height: 200px;
    width: 300px;
    margin: 10px;
    cursor: help;
    border-radius: 15%;
}

.grooveOutside {
    border: 2px groove; /*border: width style color;*/
    border-color: #f2f2f2;
    border-radius: 10px;
    height: 640px;
    width: 320px;
    box-shadow: 5px 5px #DCDCDC;
    background: #FAF0E6;
    cursor: none;
}

.grooveInside {
    border: 2px groove;
    border-radius: 10px;
    border-color: #f2f2f2;
    height: 340px;
    width: 295px;
    margin: 0 10px 0 10px; /*margin: top right bottom left*/
    background: #FFFAF0;
    cursor: none;
}

.textBold {
    font-size: 16px;
    font-weight: bold;
}

.textSmall {
    font-size: 15px;
}

.list-style {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

#lion {
    font: bold 50px Fantasy; /* font-weight: bold; font-family: Fantasy; font-size: 50px;*/
    margin-top: 1px;
    margin-left: 10px;
    height: 1px;
    position: static;
}

#interestingInfo{
    font-style: italic;
    font-size: 14px;
    margin: 10px;
}

#description {
    font-size: 14px;
    margin: 10px;
}
